@import "src/theme/theme-variables";

:host {
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}

.login-container,
.mat-form-field {
  width: 100%;
  ::ng-deep .mat-input-element,
  ::ng-deep .mat-form-field-label {
    color: $bg-gray-light !important;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: $bg-gray-light !important;
  }

  /* Change label color on focused */
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $blue !important;
  }

  /* underline border color on focused */
  ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background-color: $blue !important;
  }

  ::ng-deep .ng-invalid {
    color: $red !important;
  }

  .login-box {
    background-color: $bg-gray-dark !important;
  }

  .mat-stroked-button:not([disabled]) {
    border-color: $bg-gray-light;
    color: $bg-gray-light;
    &:hover {
      color: $bg-gray-dark;
      background-color: $bg-gray-light;
    }
  }
}

.login-fields > :not(:last-child) {
  margin-bottom: 8px;
}

.login-error {
  color: mat-color($app-warn);
}
