@import "src/theme/theme-variables";

.container {
  text-align: center;
  padding: 0;
  display: grid;
  min-height: 100%;
  grid-template-rows: 100%;
  grid-template-columns: 33% 34% 33%;

  h2 {
    font-weight: 300;
  }

  .user {
    grid-row: 1/2;
    grid-column: 1/2;
    &.userSelected {
      @include respond-to($sm) {
        grid-column: 1/3;
      }
    }
    &.repoSelected {
      @include respond-to($sm) {
        grid-column: 1/2;
      }
    }
  }

  .repo {
    grid-row: 1/2;
    grid-column: 2/4;
    &.userSelected {
      @include respond-to($sm) {
        grid-column: 3/4;
      }
    }
    &.repoSelected {
      @include respond-to($sm) {
        grid-column: 2/4;
      }
    }
  }

  .hidden {
    visibility: hidden;
    display: none;
  }

  #input_user {
    height: 100%;
    width: 100%;
    h2 {
      color: $bg-gray-light;
    }

    #githubFormUser {
      width: 60%;
      &.repoSelected {
        @include respond-to($sm) {
          display: none !important;
        }
      }
    }
  }

  #data_user {
    max-height: 100vh;
    #userInfo {
      color: $bg-gray-light;
    }
    #userImageContainer {
      border-radius: 100%;
      overflow: hidden;
      margin: 50px auto 50px auto;
      height: 200px;
      width: 200px;

      &.repoSelected {
        @include respond-to($sm) {
          height: 100px;
          width: 100px;
        }
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
    #returnSearch {
      position: absolute;
      left: 10px;
      top: 10px;
      &.repoSelected {
        @include respond-to($sm) {
          display: none !important;
        }
      }
    }
  }

  #one_one {
    background-color: $bg-gray-dark;
  }
  #one_repo {
    background-color: $bg-gray-light;
  }

  #showUserButton {
    display: none !important;

    &.userSelected {
      @include respond-to($sm) {
        display: block !important;
      }
    }
  }
  #showRepoButton {
    display: none !important;
    &.repoSelected {
      @include respond-to($sm) {
        display: block !important;
      }
    }
  }
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

#githubForm {
  width: 80%;
  margin: auto;
  &.userSelected {
    @include respond-to($sm) {
      display: none !important;
    }
  }
}

#repoList {
  width: 80%;
  margin: 50px auto 50px auto;
  .repoItem {
    margin: 50px 0 50px 0;
    display: grid;
    /* grid-template-columns: 10% 10% 10% 25% 5%;
    grid-template-columns: 33% 34% 33%; */
    grid-template-columns: 1fr 1fr 5fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    * {
      text-align: left;
    }
    .repoItemName {
      font-weight: 700;
      font-size: 1.2em;
      grid-column: 1/3;
      grid-row: 1/2;
      .repoItemId {
        word-wrap: break-word;
        font-weight: 300;
        font-size: 0.7em;
      }
    }

    .repoItemLink {
      .mat-icon {
        color: $bg-gray-dark;
        &:hover {
          color: $blue;
        }
      }
      grid-column: 4/5;
      grid-row: 3/4;
    }
    .repoItemDesc {
      grid-column: 1/5;
      grid-row: 2/3;
      border-bottom: 1px solid $bg-gray-dark;
    }

    .repoItemLang {
      grid-column: 1/2;
      grid-row: 3/4;
      border-right: 1px solid $bg-gray-dark;
    }

    .repoItemTime {
      padding-left: 10px;
      grid-column: 2/4;
      grid-row: 3/4;
    }
  }
  &.userSelected {
    @include respond-to($sm) {
      display: none !important;
    }
  }
}

#contactButton,
#input_user {
  ::ng-deep .mat-input-element,
  ::ng-deep .mat-form-field-label {
    color: $bg-gray-light !important;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: $bg-gray-light !important;
  }

  /* Change label color on focused */
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $blue !important;
  }

  /* underline border color on focused */
  ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background-color: $blue !important;
  }

  ::ng-deep .ng-invalid {
    color: $red !important;
  }

  .mat-stroked-button:not([disabled]) {
    border-color: $bg-gray-light;
    color: $bg-gray-light;
    &:hover {
      color: $bg-gray-dark;
      background-color: $bg-gray-light;
    }
  }
}
