<div class="container">
  <div id="one_one" class="user" [ngClass]="{ userSelected: userSearch, repoSelected: !userSearch }">
    <div id="input_user" *ngIf="!githubuser.id" fxLayout="column" fxLayoutAlign="start center">
      <h2 translate>Search GitHub User</h2>
      <form
        id="githubFormUser"
        [formGroup]="githubUserFormGroup"
        #formone="ngForm"
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutGap="10px"
        [ngClass]="{ userSelected: userSearch, repoSelected: !userSearch }"
      >
        <mat-form-field class="form-full-width" id="username" fxFlex="80">
          <input matInput formControlName="usernameFormControl" placeholder="{{ 'Username' | translate }}*" />
          <mat-error *ngIf="githubUserFormGroup.controls.usernameFormControl.hasError('required')"
            ><span [innerHtml]="'Username is required to do search' | translate"></span
          ></mat-error>
        </mat-form-field>

        <div id="contactButton" fxLayout="column" fxLayoutAlign="center center" fxFlex="20">
          <button mat-stroked-button (click)="getUserGitHub()" [disabled]="!formone.valid">
            <span translate>Send</span>
          </button>
          <mat-error *ngIf="userformincomplete"><span [innerHtml]="'Incomplete input' | translate"></span></mat-error>
        </div>
      </form>
      <button
        id="showRepoButton"
        mat-stroked-button
        (click)="userSearch = true"
        [ngClass]="{ repoSelected: !userSearch }"
      >
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <div id="data_user" *ngIf="githubuser.id" fxLayout="column" fxLayout.lt-md="column" fxLayoutAlign="start center">
      <button
        id="returnSearch"
        mat-stroked-button
        (click)="returnToUserSearch()"
        [ngClass]="{ repoSelected: !userSearch }"
      >
        <mat-icon>search</mat-icon>
      </button>
      <div fxFlex="15" id="userInfo">
        <h2>{{ githubuser.name || '' }}</h2>
        <h3>{{ githubuser.login || '' }}</h3>
        <h3>{{ githubuser.email || '' }}</h3>
        <p>
          <span translate>Member since</span>
          {{
            githubuser.created_at
              ? githubuser.created_at.substr(0, 4)
              : githubuser.createdAt
              ? githubuser.createdAt.substr(0, 4)
              : ''
          }}
        </p>
      </div>
      <div id="userImageContainer" fxFlex="20" [ngClass]="{ repoSelected: !userSearch }">
        <img
          class="align-self-center align-items-center"
          src="{{ githubuser.avatar_url ? githubuser.avatar_url : githubuser.avatarUrl }}"
          alt="User Avatar"
        />
      </div>
      <div fxFlex="20">
        <div id="contactButton" fxLayout="column" fxLayoutAlign="center center">
          <button mat-stroked-button (click)="getUserGitHubRepo(githubuser.id)">
            <span translate>List repositories</span>
          </button>
          <br />
          <button
            id="showRepoButton"
            mat-stroked-button
            (click)="userSearch = true"
            [ngClass]="{ repoSelected: !userSearch }"
          >
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="one_repo" class="repo" [ngClass]="{ userSelected: userSearch }">
    <h2 translate>Search GitHub Repositories</h2>
    <form
      id="githubForm"
      [formGroup]="githubRepoFormGroup"
      #formtwo="ngForm"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      [ngClass]="{ userSelected: userSearch, repoSelected: !userSearch }"
    >
      <mat-form-field class="form-full-width" id="username" fxFlex>
        <input matInput formControlName="repoFormControl" placeholder="{{ 'Repository' | translate }}*" />
        <mat-error *ngIf="githubRepoFormGroup.controls.repoFormControl.hasError('required')"
          ><span [innerHtml]="'Text is required to do search' | translate"></span
        ></mat-error>
      </mat-form-field>

      <div id="searchLocalButton" fxLayout="column" fxLayoutAlign="center center">
        <button mat-stroked-button [disabled]="!formtwo.valid || githubrepo.length === 0" (click)="filterFetched()">
          <span translate>Filter Fetched</span>
        </button>
        <mat-error *ngIf="repoformincomplete"><span [innerHtml]="'Incomplete input' | translate"></span></mat-error>
      </div>

      <div id="searchGlobalButton" fxLayout="column" fxLayoutAlign="center center">
        <button mat-raised-button [disabled]="!formtwo.valid" (click)="searchGitHub()">
          <span translate>Search GitHub</span>
        </button>
        <mat-error *ngIf="repoformincomplete"><span [innerHtml]="'Incomplete input' | translate"></span></mat-error>
      </div>
      <br />
    </form>
    <div id="repoList" [ngClass]="{ userSelected: userSearch, repoSelected: !userSearch }">
      <div *ngFor="let repo of githubrepo_filter" class="repoItem">
        <div class="repoItemName">
          {{ repo.name || '' }} <span class="repoItemId">({{ repo.id || '' }})</span>
        </div>
        <div class="repoItemTime">
          <span translate>Last update</span>:
          {{ repo.updated_at ? repo.updated_at.substr(0, 10) : repo.updatedAt ? repo.updatedAt.substr(0, 10) : '' }}
        </div>
        <div class="repoItemLink">
          <a target="_blank" href="{{ repo.svn_url }}"><mat-icon>link</mat-icon></a>
        </div>
        <div class="repoItemDesc">
          {{ repo.description || ' ' }}
        </div>
        <div class="repoItemLang"><span translate>Language</span>: {{ repo.language || 'not defined' }}</div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
      <button
        id="showUserButton"
        mat-stroked-button
        (click)="userSearch = false"
        [ngClass]="{ userSelected: userSearch }"
      >
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
  </div>
</div>
