/*
 * Application global variables.
 */

// Angular Material custom theme
// See https://material.angular.io/guide/theming for more details.
//
// You can also read https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
// for more insight about Angular Material theming.

@import "~@angular/material/theming";

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: mat-palette($mat-blue);
$app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Material design icons font path
$material-design-icons-font-directory-path: "~material-design-icons-iconfont/dist/fonts/";

$purple: #6f42c1;
$bg-purple-light: #f5f0ff;

$red: #d73a49;
$bg-red-light: #ffdce0;

$green: #28a745;
$bg-green-light: #dcffe4;

$blue: #0366d6;
$bg-blue-light: #f1f8ff;

$yellow: #ffd33d;
$bg-yellow-light: #fff5b1;

$bg-gray: #f6f8fa;
$bg-gray-dark: #24292e;
$bg-gray-light: #fafbfc;

// template

/* 
xs	'screen and (max-width: 599px)'
sm	'screen and (min-width: 600px) and (max-width: 959px)'
md	'screen and (min-width: 960px) and (max-width: 1279px)'
lg	'screen and (min-width: 1280px) and (max-width: 1919px)'
xl	'screen and (min-width: 1920px) and (max-width: 5000px)'
lt-sm	'screen and (max-width: 599px)'
lt-md	'screen and (max-width: 959px)'
lt-lg	'screen and (max-width: 1279px)'
lt-xl	'screen and (max-width: 1919px)'
gt-xs	'screen and (min-width: 600px)'
gt-sm	'screen and (min-width: 960px)'
gt-md	'screen and (min-width: 1280px)'
gt-lg	'screen and (min-width: 1920px)'
 */

$xxs: "(max-width: 399px)";
$xs: "(max-width: 599px)";
$xs-landscape: "(max-height: 399px)";
$sm: "(max-width: 959px)";
$sm-landscape: "(min-width: 600px) and (max-width: 959px) and (max-height: 600px)";
$md: "(max-width: 1279px)";
$lg: "(min-width: 1280px)";
$xl: "(min-width: 1919px)";
$non-retina: "(-webkit-max-device-pixel-ratio: 1)";
$retina: "(min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx)";

@mixin respond-to($media) {
  @media only screen and #{$media} {
    @content;
  }
}

// gold standard 12 grids with margin between
// grid-template-columns: 6.5% 2% 6.5% 2% 6.5% 2% 6.5% 2% 6.5% 2% 6.5% 2% 6.5% 2% 6.5% 2% 6.5% 2% 6.5% 2% 6.5% 2% 6.5%;
