<div class="container">
  <mat-card>
    <h2 translate>App Settings</h2>
    <p translate>Here you can enable v4 API which uses GraphQL service.</p>
    <p translate>
      Also you need to provide TOKEN,<a
        href="https://help.github.com/en/github/authenticating-to-github/creating-a-personal-access-token-for-the-command-line"
        target="_blank"
        translate
        >more information here</a
      >
    </p>
    <form id="githubSettings" [formGroup]="githubSettingsFormGroup" #formsettings="ngForm">
      <div>
        <mat-checkbox formControlName="v4FormControl" [(ngModel)]="useApiV4" translate>v4 API</mat-checkbox>
      </div>
      <mat-form-field
        appearance="standard"
        class="form-full-width"
        id="token"
        *ngIf="githubSettingsFormGroup.controls.v4FormControl.value"
      >
        <input
          matInput
          formControlName="tokenFormControl"
          required
          placeholder="{{ 'Token' | translate }}*"
          [(ngModel)]="token"
        />
        <mat-error *ngIf="githubSettingsFormGroup.controls.tokenFormControl.hasError('required')"
          ><span [innerHtml]="'Token is required to use V4 API' | translate"></span
        ></mat-error>
      </mat-form-field>

      <div id="contactButton" fxLayout="column" fxLayoutAlign="center center">
        <br />
        <button mat-stroked-button (click)="saveSettings()" [disabled]="!formsettings.valid && useApiV4">
          <span translate>Save</span>
        </button>
        <mat-error *ngIf="settingsformincomplete"><span [innerHtml]="'Incomplete input' | translate"></span></mat-error>
      </div>
      <br />
    </form>
  </mat-card>
</div>
