<div class="container">
  <mat-card>
    <h1>
      <mat-card-title translate>APP_NAME</mat-card-title>
    </h1>
    <mat-card-content>
      <mat-icon>code</mat-icon>
      <span translate>Version</span> {{ version }}
      <p translate>
        This application in written in Angular, version 8.2.14 to showcase usability in API calls using REST and
        GraphQL.
      </p>
    </mat-card-content>
  </mat-card>
</div>
