<mat-toolbar class="mat-elevation-z6 navbar">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{ title }}</span>
  </div>
  <div fxHide.lt-md>
    <a
      class="brand"
      href="https://github.com/"
      fxFlex="30"
      fxLayout="column"
      fxLayoutAlign="centar centar"
      fxLayoutGap="gappx"
    >
      <img class="logo" src="assets/GitHub_Logo_White.png" alt="Logo" />
    </a>
    <button mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button routerLink="/about" routerLinkActive="active">
      <mat-icon>info</mat-icon>
    </button>
    <button mat-button routerLink="/settings" routerLinkActive="active">
      <mat-icon>settings_applications</mat-icon>
    </button>
  </div>
  <span fxFlex></span>
  <button mat-icon-button [matMenuTriggerFor]="languageMenu">
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #languageMenu="matMenu">
    <button
      [ngClass]="{ currentLanguage: language === currentLanguage }"
      *ngFor="let language of languages"
      (click)="setLanguage(language)"
      translate
      mat-menu-item
    >
      {{ language }}
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="userMenu" *ngIf="username">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span translate>Logged in as</span>&nbsp;<b>{{ username }}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button mat-menu-item (click)="logout()" translate>Logout</button>
  </mat-menu>
</mat-toolbar>
