@import "src/theme/theme-variables";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: $bg-gray-dark;
  color: white;
  .brand {
    color: mat-color($app-primary, "default-contrast");
    text-decoration: none;
    padding-right: 1rem;
    height: 64px;
    .logo {
      padding-top: 10px;
      padding-bottom: 10px;
      width: auto;
      height: 64px;
    }
  }
  .link {
    text-transform: uppercase;
  }
  .mat-icon {
    font-size: 1.5em;
  }
}

.menu-button {
  margin-right: 1rem;
}

.currentLanguage {
  color: white;
  background-color: $bg-gray-dark;
  &:hover {
    color: white;
    background-color: $bg-gray-dark;
  }
}
